body{
    margin: 0;
}

.homeBackground{
    background-image: url(../assets/images/hero\ img.jpg);
    background-size: cover;
    height: 100%;
    position: static;
}

.homeMask{
    position: absolute;
    background-color: rgba(8, 8, 8, 0.812);
    height: 100%;
    width: 100%;
}

.navBarContainer{
    width: 100%;
}

.navBarIcon{
    width: 50%;
    float: left;
}

.navBarIcon > a{
    color: rgb(217, 47, 75);
    font-style: normal;
    font-size: x-large;   
    margin-left: 24.5%;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.navBarItems{
    width: 50%;
    color: white;
    float: right;
    margin-top: 20px;
}

.navBarItems > a{
    font-style: normal;
    font-size: 18px;
    padding-right: 20px;
    cursor: pointer;
}

.navBarItems > a:hover{
    color: rgb(217, 47, 75);
}


.homeInfoContainer{
    width: 100%;
    color: white;
    padding-top: 18%;
    text-align: center;
}

.homeInfoContainer > P{
    font-size: 25px;
    margin: 0;
}

.homeInfoContainer > h1{
    color: rgb(217, 47, 75);
    font-size: 75px;
    margin: 0;
}

.personalInfoContainer{
    width: 100%;
    background-color: white;
}

.personalInfoImgContainer, personalInfoDataContainer{
    margin-top: 7%;
    margin-bottom: 9%;
    width: 45%;
}

.personalInfoImgBorder{
    height: 420px;
    width: 340px;
    background: white;
    border: solid;
    border-width: 8px;
    border-radius: 6px;
    border-color: rgb(91, 91, 91);
    position: relative;
    margin-left: 40%;
}

.personalInfoImg{
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden
}

.slide-up-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Always full height, but pushed down */
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%); /* Start fully hidden below */
    transition: transform 0.6s ease;
}

.slide-up-overlay-icons{
    color: white; 
    margin-right: 20px; 
    font-size: large;
    cursor: pointer;
}

.slide-up-overlay-icons:hover{
    color: rgb(217, 47, 75);
}

.personalInfoImg:hover .slide-up-overlay {
    transform: translateY(0);
}

.personalInfoDataContainer{
    text-align: left;
    width: 49.5%;
    float: right;
    margin-top: -38%;
    margin-right: 1%;
    margin-left: 0;
}

.personalInfoDataContainer > P{
    font-size: larger;
    margin-right: 20%;
    padding-bottom: 4%;
    border-bottom: dotted;
    border-width: 1px;
}

.personalInfoDataItems{
    width: 35%;
    display: inline-block;
}

.personalInfoButtons{
    margin-top: 20px;
    margin-right: 10px;
    background-color: rgb(251, 55, 88);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.personalInfoButtons:hover {
    background-color: rgb(238, 12, 12)
  }

.ourServicesContainer, .statisticsContainer{
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.ourServicesContainer > h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0;
}

.ourServicesInnerContainer{
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
}

.ourServicesItem{
    width: 20%;
    padding-left: 2.35%;
    padding-right: 2.35%;
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;
    display: inline-block;
}

.ourServicesItem > P{
    font-size: medium;
}

.ourServicesItem:hover{
    transition: background-color 800ms linear;
    background-color: white;
}

.ourPortofolioContainer{
    width: 100%;
    background-color: white;
}

.ourPortofolioInnerContainer{
    margin-top: 7%;
    margin-bottom: 6.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.ourPortofolioInnerContainer > h1{
    text-align: center;
    margin: 0;
}

.ourPortofolioISkills{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

.ourPortofolioISkills > span{
    margin-left: 5%;
    font-size: large;
    cursor: pointer;
}

.ourPortofolioImgsContainer{
    margin-top: 2.5%;
    margin-left: 4%;
}

.ourPortofolioImgs{
    width: 30%;
    margin-top: 2%;
    margin-right: 2.5%;
}

.statisticsInnerContainer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 6%;
}

.statisticsItem{
    padding-top: 10%;
    display: inline-block;
    padding-right: 8%;
}

.statisticsItem > div{
    margin-bottom: 10%;
    margin-top: 15%;
}

.clientFeedbackContainer{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 4%;
}

.clientFeedbackInnerContainer{
    width: 70%;
    margin: auto;
    text-align: center;
}

.headingUnderlineStyle{
    margin: 0 auto;
    margin-bottom: 4px;
    border: none; 
    border-bottom: 1px solid rgba(255,61,130,255);
}

.clientFeedbackInnerContainer > h1{
    margin: 0;
}

.clientFeedbackCard{
    margin: auto;
    margin-top: 4%;
    margin-bottom: 11%;
    width: 75%;
    height: 40%;
    background-color: rgb(235, 234, 234);
    position: relative;
    border-radius: 4px;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 180px solid rgb(251, 55, 88);
    border-right: 180px solid transparent;
    border-radius: 4px;
    position: absolute;
}

.clientFeedbackItemContainer{
    width: 90%;
    height: auto;
    background-color: transparent;
    border-radius: 4px;
    position: absolute;
    top: 35px;
    left: 10px;
}

.clientFeedbackItemImgContainer{
    width: 20%;
    display: inline-block;
    margin-right: 5%;
}

.clientFeedbackItemImg{
    margin-top: 14px;
    width: 120px;
    border-radius: 75px;
}

.clientFeedbackItemInfoContainer{
    width: 70%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.clientFeedbackItemInfoContainer > h1, .clientFeedbackItemInfoContainer > p{
    margin: 0;
}

.checked {
    color: orange;
}

.ourBlogContainer{
    background-color: rgb(241, 241, 241);
}

.ourBlogContainer > h1{
    margin: 0;
}

.ourBlogInnerContainer{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 4%;
}

.ourBlogCard{
    height: 60%;
    width: 31%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-right: 2%;
    background-color:white;
}

.ourBlogCardInfo{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.ourBlogCardImg{
    width: 100%;
}


.video-container {
    width: 100%; /* Takes full width of parent */
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
    overflow: hidden;
}

.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.contactUSContainer{
    width: 100%;
    background-color: white;
}

.contactUSContainer > h1{
    width: 10%;
    margin: auto;
    margin-top: 7%;
}

.contactUSForm{
    width: 55%;
    margin: auto;
    margin-top: 3%;
}

.contactUSForm textarea::placeholder{
    font-style: normal;
}

.clear {clear: both;}

.contactUsFormButton{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(251, 55, 88);
    color: white;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.contactUsFormButton:hover {
    background-color: rgb(238, 12, 12);
}

.footerContainer{
    width: 100%;
    background-color: black;
}

.footerInnerContainer{
    width: 50%;
    margin: auto;
    margin-top: 6%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
    color: white;
}